@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: 'ali';
  src: url('./assets/AlibabaPuHuiTi-2-55-Regular.ttf');
  font-weight: normal;
  font-style: normal;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ali;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

.prose {
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;
  color: var(--fg);
  max-width: 70ch;
}
html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}
html.dark .prose {
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
}
.prose h1 {
  color: var(--fg-deeper);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
.prose h2 {
  color: var(--fg-deep);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
.prose h3 {
  color: inherit;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
  opacity: 0.7;
}
.prose code {
  color: var(--fg-deep);
  font-weight: 600;
  font-size: 0.875em;
}
.prose ul > li p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.prose ol > li p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.prose li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.prose > *:first-child {
  margin-top: 0;
}
.prose > *:last-child {
  margin-bottom: 0;
}
.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.prose a {
  color: var(--fg-deeper);
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(125, 125, 125, 0.3);
  transition: border 0.3s ease-in-out;
}
.prose a:hover {
  border-bottom: 1px solid var(--fg);
}
.prose .shiki {
  font-size: 0.92em;
  line-height: 1.4;
  margin: 0.5em 0;
}
.prose pre {
  color: #e5e7eb;
  overflow-x: auto;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding: 0.8571429em 1.1428571em;
}
a.item {
  transition: 0.2s all ease-out;
  text-decoration: none;
  border-bottom: none !important;
  opacity: 0.6;
}
a.item:hover {
  opacity: 1;
}
.prose ol > li {
  position: relative;
  padding-left: 1.75em;
}
.prose ol > li::before {
  content: counter(list-item, decimal) '.';
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0;
}
.prose ul > li {
  position: relative;
  padding-left: 1.75em;
}
.prose ul > li::before {
  content: '';
  position: absolute;
  background-color: #d1d5db;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: 0.525em;
  left: 0.25em;
}
.prose blockquote {
  font-weight: 500;
  font-style: italic;
  color: inherit;
  border-left-width: 0.25rem;
  border-color: rgba(125, 125, 125, 0.3);
  quotes: '\201C' '\201D' '\2018' '\2019';
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}
.prose blockquote p:first-of-type::before {
  content: open-quote;
}
.prose blockquote p:last-of-type::after {
  content: close-quote;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--s-dark) !important;
  background-color: #0e0e0e !important;
}
.shiki {
  background-color: #f8f8f8 !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

/* anchor */
a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -1.2em;
  padding-right: 0.5em;
  font-size: 0.85em;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 0.5;
}

/* toc */
.table-of-contents {
  position: fixed;
  top: 60px;
  bottom: 0;
  font-size: 0.8em;
  left: 30px;
  z-index: 200;
  overflow: hidden;
  display: none;
  width: 100px;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .table-of-contents {
    width: 200px;
    display: flex;
  }
}

@media (min-width: 1280px) {
  .table-of-contents {
    width: 300px;
  }
}

.table-of-contents-anchor {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  --un-border-opacity: 0.27;
  border-color: rgb(136 136 136 / var(--un-border-opacity));
  border-color: transparent;
  border-radius: 0.25rem;
  --un-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--un-bg-opacity));
  font-size: 1.125rem;
  line-height: 1.75rem;
  --un-text-opacity: 0.47;
  color: rgb(136 136 136 / var(--un-text-opacity));
  --un-shadow: var(--un-shadow-inset) 0 1px 3px 0
      var(--un-shadow-color, rgb(0 0 0 / 0.1)),
    var(--un-shadow-inset) 0 1px 2px -1px var(--un-shadow-color, rgb(0
            0 0 / 0.1));
  --un-shadow: 0 0 var(--un-shadow-color, rgb(0 0 0 / 0));
  box-shadow: var(--un-ring-offset-shadow), var(--un-ring-shadow),
    var(--un-shadow);
  transition-property: color, background-color, border-color,
    outline-color, text-decoration-color, fill, stroke, opacity,
    box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-duration: 0.4s;
}

.dark .table-of-contents-anchor {
  --un-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--un-bg-opacity));
}

.table-of-contents > ul {
  text-overflow: ellipsis;
  height: 100%;
  overflow-y: auto;
  margin-top: 0.25rem;
  border-radius: 0.25rem;
  padding-bottom: 1.25rem;
  opacity: 0;
  transition-property: color, background-color, border-color,
    outline-color, text-decoration-color, fill, stroke, opacity,
    box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-duration: 0.7s;
}

*:hover > .table-of-contents > .table-of-contents-anchor,
.toc-always-on .table-of-contents > .table-of-contents-anchor {
  color: inherit;
}

.toc-always-on .table-of-contents > ul {
  opacity: 0.6;
}

*:hover > .table-of-contents > ul {
  opacity: 0.75;
}

.table-of-contents ul > li:before {
  display: none;
}

.table-of-contents ul > li {
  padding-left: 0.8rem;
  line-height: 1.5em;
  margin-top: 0.5em;
}

.table-of-contents ul > li > a {
  opacity: 0.75;
  transition-property: color, background-color, border-color,
    outline-color, text-decoration-color, fill, stroke, opacity,
    box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.table-of-contents ul > li > a:hover {
  opacity: 1;
}

/* animation */
@keyframes slide-enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.slide-enter-content > *:not(:has(.table-of-contents)) {
  --stagger: 0;
  --delay: 150ms;
  --start: 0ms;
  animation: slide-enter 1s both 1;
  animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
}

.slide-enter-content > *:nth-child(1) {
  --stagger: 1;
}
.slide-enter-content > *:nth-child(2) {
  --stagger: 2;
}
.slide-enter-content > *:nth-child(3) {
  --stagger: 3;
}
.slide-enter-content > *:nth-child(4) {
  --stagger: 4;
}
.slide-enter-content > *:nth-child(5) {
  --stagger: 5;
}
.slide-enter-content > *:nth-child(6) {
  --stagger: 6;
}
.slide-enter-content > *:nth-child(7) {
  --stagger: 7;
}
.slide-enter-content > *:nth-child(8) {
  --stagger: 8;
}
.slide-enter-content > *:nth-child(9) {
  --stagger: 9;
}
.slide-enter-content > *:nth-child(10) {
  --stagger: 10;
}
.slide-enter-content > *:nth-child(11) {
  --stagger: 11;
}
.slide-enter-content > *:nth-child(12) {
  --stagger: 12;
}
.slide-enter-content > *:nth-child(13) {
  --stagger: 13;
}
.slide-enter-content > *:nth-child(14) {
  --stagger: 14;
}
.slide-enter-content > *:nth-child(15) {
  --stagger: 15;
}
.slide-enter-content > *:nth-child(16) {
  --stagger: 16;
}
.slide-enter-content > *:nth-child(17) {
  --stagger: 17;
}
.slide-enter-content > *:nth-child(18) {
  --stagger: 18;
}
.slide-enter-content > *:nth-child(19) {
  --stagger: 19;
}
.slide-enter-content > *:nth-child(20) {
  --stagger: 20;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: 0.3s ease;
}

.slide-left-enter-from,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(10px);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: 0.3s ease;
}

.slide-right-enter-from,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}
